*{padding:0px; margin: 0px;}


.container{
	background-color: #edf7f9}

.sub_con{
	width: 85%;
	margin:auto;}

.navi{
	background-color: hsla(0,0%,0%,0.8);
	font-style: "Helvetica Neue";
	position: fixed;
	width: 100%;
	}

ul {padding:20px 0 20px 0;
	margin-left: 7.5%;
	box-sizing: border-box;
 }

li {
	display: inline-block;
	padding-right: 30px;
	font-family: Helvetica;
	color: #77d1f4;
}

ul li a {text-decoration: none;}
a:hover {color:white;}


.header{
	width:100%;
	height: 500px;
	background-image: url("img/dragonmain.jpg");
	background-size: cover;
}

 .h{font-family: "Oxygen", sans-serif;
		font-size: 50px;
		color:#ffffff;
		display: inline;
		padding: 500px 0 0 10px;
		border:1px solid #eeeeee;

		}

.content{height:100%;
 	width:100%;
 	background-color:#353434;
}

p{font-family: Tahoma;
font-size: 14px;
margin:2%;
color:white;
}

h1{
	font-family: Tahoma;
font-size: 14px;
margin:2%;
color:white;
}