@import url('https://fonts.googleapis.com/css?family=Roboto');

* {margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.clear{clear:both;}

body{padding: 0px;
background-color: #ffffff;}

span{font-size: 100%}
#sub-container{width:70%;margin:0 5% 5% 5%;
	float:right }

#sidebar{width: 20%;
		height: 100%;
		position: fixed;
		background-color: rgba(1, 1, 1, 1);
	float:left }

.forms{
		width: 90%;
		margin: auto;
	}

.sideimage {padding:5%;
				width:90%;
				height:auto;}

	.sideimage img{width:100%;
				   height:auto;}

	

#header{
	margin: 40px;
	padding: 10px;
	border-bottom: 1px solid #000000;
}

#logo {font-size: 40px }
#logo img{
	height: 40px;
	width: auto;
	border-right: 1px solid #000000;
	margin-right: 10px;
	padding-right: 10px;

}

#logo, #menu, #address, #copyright{
	float: left;
	width: 50%;
}

#menu{ text-align: right }

#menu ul{
	list-style: none;
	
}

#menu ul li{
display: inline-block;}

#menu ul li a{text-decoration: none;
	color: #ff0000;
	padding: 10px;
}

#hero{
	margin:30px 0px;
}

#hero img{
	width:100%;
	height: auto;}


.featured-image {
	float: left;
	width: 30%;
	margin-top: 5%;			
}

.featured-image.center {
	margin: 5% 5% 0 5%;
}

.featured-image img{
	width: 100%;
	height: auto;}




#copyright{ 
	text-align: right }

#footer{
	margin: 10px;
	padding: 10px;
	border-top: 1px solid #000000;
}






@media(max-width:768px ){
#sidebar{
	width: 100%;
	height: 20%;
	position: fixed;
	background-color: black;
	}

#sub-container{
	width:90%;
	margin:0 5% 0 5%;
	margin-top: 22%;
	}

 #header{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #000000;
	}

span{font-size: 70%;
	}

.sideimage {
	padding:1%;
	float: left;
	width:20%;
	height:auto;
	}

	.sideimage img{
		width:70%;
		height:auto;
	}

.featured-image {
	width: 80%;
	margin:auto;	
}

.featured-image.center {
	margin: 0% 5% 0 0;
	margin:auto;
}	

	.featured-image img{
		width: 100%;
		height: auto;
	}

.forms{
	float:left;
	width: 70%;
	margin-top:5% ;
	}

}



@media(max-width:400px ){
#sidebar{width: 100%;
		height: 10%;
		position: fixed;
		background-color: black;
	 }


}










}









